
h1 {
    text-align: center;
    margin-top: 40px;
}

#quizLayout {
    display: flex;
    flex-direction: flex-end;
    justify-content: center;
    margin-top: 70px;
}

#questionField {
    width: 400px;
}

#navBarImage{
    width: 40px;
}

.card-img-top { 
    width: 150px;
    margin: 0 auto;
}

.quizzPlay{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}


.quizzPlay a{
    margin:0 auto;
    
}

.hidden {
    opacity:0;
    
}

.visible {
    opacity:1;
    transition: opacity 1s ease-in;
}

.dark-mode {
  background-color: black;
  color: grey;
}